.*.swp
.DS_Store
*-private.*
vendor/
Gopkg.lock 
echo ".terraform/" >> .gitignore
echo "*/.terraform/" >> .gitignore
echo "*.tfstate" >> .gitignore
echo "*.tfstate.backup" >> .gitignore
echo ".terraform.lock.hcl" >> .gitignore
echo "terraform/backend/.terraform/" >> .gitignore
.terraform/
*/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
