apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  labels:
    app: catalogue
spec:
  replicas: {{ .Values.catalogue.replicas }}
  selector:
    matchLabels:
      app: catalogue
  template:
    metadata:
      labels:
        app: catalogue
    spec:
      containers:
        - name: catalogue
          image: "{{ .Values.catalogue.image.repository }}:{{ .Values.catalogue.image.tag }}"
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8080

          env:
            - name: MONGO_URL
              value: "mongodb://mongodb:27017/catalogue"

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
