apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: {{ .Values.payment.replicas }}
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: "{{ .Values.payment.image.repository }}:{{ .Values.payment.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080

          env:
            - name: AMQP_URL
              value: "amqp://guest:guest@rabbitmq:5672"

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
