apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings
  labels:
    app: ratings
spec:
  replicas: {{ .Values.ratings.replicas }}
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
    spec:
      containers:
        - name: ratings
          image: "{{ .Values.ratings.image.repository }}:{{ .Values.ratings.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80

          env:
            - name: MONGO_URL
              value: mongodb://mongodb:27017/ratings

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 10
